.columns {
  min-height: 50vh;
  padding: 40px;
  width: 100%;

  background-color: #333333;

  @media (max-width: 768px) {
    padding: 10px;
  }

  &__body {
    //display: flex;
    //justify-items: center;
    //margin: 0px -45px;

    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, minmax(270px, 1fr));

    @media (max-width: 1025px) {
      gap: 20px;
      grid-template-columns: repeat(2, minmax(270px, 1fr));
    }
    @media (max-width: 768px) {
      gap: 0px;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__about {
    //flex: 1 1 33%;
    display: flex;
    flex-direction: column;
    align-items: center;

    //padding: 0px 45px;

    @media (max-width: 1023px) {
      margin-bottom: 20px;

      grid-column: span 2;
    }

    @media (max-width: 768px) {
      grid-column: span 1;
    }
  }

  &__posts {
    //flex: 1 1 33%;

    display: flex;
    flex-direction: column;
    align-items: center;

    //padding: 0px 45px;

    @media (max-width: 1023px) {
      margin-bottom: 20px;
    }
  }

  &__contact {
    //flex: 1 1 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //padding: 0px 45px;

  }

  &__title {
    margin-bottom: 24px;

    h2 {
      color: #DDDDDD;
    }

    &:after {
      background-color: #DDDDDD;
    }
  }

  &__text {
    margin-bottom: 24px;
    max-width: 330px;
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    color: #CCCCCC;

    @media (max-width: 768px) {
      //max-width: 100%;
    }
  }

  &__socials {
    background-color: #E6E7E6;
  }

  &__list {
  }

  &__contacts {
    color: #CCCCCC;
    line-height: 150%;
    text-align: center;
  }

  &__address {
  }

  &__email {
  }

  &__phone {
  }

  &__fax {
    margin-bottom: 25px;
  }
}

.form {
  //width: 323px;
  //height: 233px;
  background-color: #444444;
  width: 300px;
  border-radius: 5px;
  overflow: hidden;

  &__name {
    input {
      width: 100%;
      height: 50px;

      font-size: 16px;

      color: #777777;
      font-family: ProximaNova;
      padding: 15px;
      border-bottom: 3px solid #333333;
      background-color: #444444;
    }
  }

  &__email {
    input {
      width: 100%;
      height: 50px;
      font-size: 16px;

      color: #777777;
      font-family: ProximaNova;
      padding: 15px;
      border-bottom: 3px solid #333333;
      background-color: #444444;
    }
  }

  &__message {
    textarea {
      width: 100%;
      height: 130px;
      resize: none;

      font-size: 16px;

      color: #777777;
      font-family: ProximaNova;
      padding: 15px;
      border-bottom: 3px solid #333333;
      background-color: #444444;
    }
  }

  &__button {
    button {
      width: 100%;
      height: 50px;

      font-size: 14px;
      color: #FFFFFF;
      font-family: ProximaNova;
      text-transform: uppercase;
      background-color: #2B9B2B;

      &:hover {
        background-color: #29B33A;
      }
    }
  }
}

.list {

  display: flex;
  flex-direction: column;
  //align-items: center;

  li {
    display: flex;

    align-items: center;

    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    width: 54px;
    height: 54px;
    border-radius: 5px;
    background-color: #FFFFFF;
    overflow: hidden;


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    padding: 8px;
  }

  &__title {
    margin-bottom: 5px;
    font-weight: 300;
    color: #CCCCCC;
    //line-height: 150%;
    font-size: 16px;
  }

  &__label {
    background-color: #54D154;
  }
}