.team {
  background-color: #54D154;
  min-height: 50vh;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    padding-top: 20px
  }


  &__title {
    margin-bottom: 10px;

    h2 {
      color: #207B20;
    }
    &:after {
      background-color: #207B20;
    }
  }
  &__subtitle {
    margin-bottom: 10px;
    h3 {
      color: #2B9B2B;
    }
  }

  &__members {
    flex: 1 1 auto;
    width: 80%;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    //background-color: #828181;
    gap: 50px;
  }

  &__bottom {
    width: 100%;
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3EBA3E;
  }

  &__button {
    button {
      background-color: #54D154;
      width: 200px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      color: #FFFFFF;
      text-transform: uppercase;
      font-family: ProximaNova;
      font-size: 16px;
      border-radius: 50px;

      &:hover {
        background-color: #51E864;
      }
    }
  }
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: #828181;
  &__image {
    width: 125px;
    height: 125px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-bottom: 10px;

    position: relative;
    //padding: 0px 0px 50% 0px;
    user-select: none;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
  &__line {
    width: 3px;
    height: 80px;
    background-color: #207B20;
    margin-bottom: 10px;
  }
  &__name {
    color: #FFFFFF;
    font-size: 16px;
    font-family: ProximaNova;
    margin-bottom: 12px;
  }
}