@import "src/variables";

.home {
  position: relative;

  &__content {
    padding: 10px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__background {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__body {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    justify-self: center;
    align-self: center;
    margin-bottom: 30px;

    h1 {
      text-align: center;
      font-weight: 700;
      font-size: 55pt;
      color: #ffffff;

      @media (max-width: 767px) {
        font-size: 30px;
      }
    }
  }

  &__button {
    button {
      font-family: ProximaNova;
      color: #ffffff;
      text-transform: uppercase;

      width: 200px;
      height: 50px;
      line-height: 50px;
      font-size: 16px;

      background-color: $green-button-color;
      border-radius: 40px;

      transition-duration: 0.5s;

      &:hover {
        background-color: $green-button-hover-color;
      }

      &:active {
        background-color: $green-button-active-color;
      }
    }
  }

  &__scroll {
    font-family: ProximaNova;
    font-size: 16px;
    width: 120px;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 11px;
    background-color: rgba(#ffffff, 0.7);
    padding: 7px 11px;
    color: #000000;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition-duration: 0.5s;

    animation: scroll ease-in-out 1s infinite;

    &:hover {
      background-color: rgba(#ffffff, 0.9);
    }

    &:active {
      background-color: rgba(#ffffff, 1);
    }

    div {
      &:after {
        content: "";
        position: absolute;
        width: 8px;
        height: 11px;
        top: 10px;
        right: 12px;
        background: url("../../assets/images/home/arrow_down.svg") center no-repeat;
      }
    }
  }
}

.header {
  width: 100%;
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  grid-template-rows: 1fr;

  grid-template-areas: "menu logo search";

  align-items: center;

  position: relative;

  &__menu {
    grid-area: menu;

    @media (max-width: 992px) {
      display: none;
    }
  }
  &__list {
    display: flex;
    font-size: 16px;
    font-family: ProximaNova;
    font-weight: 700;

    line-height: 150%;

    li {
      margin-right: 20px;
      position: relative;
      cursor: pointer;

      padding-top: 4px;
      user-select: none;

      &:last-child {
        margin: 0;
      }

      &:hover {
        &:after {
          content: "";
          position: absolute;
          height: 6px;
          width: 100%;
          background-color: #54d154;
          top: 0;
          left: 0;

          animation: menu-link-head linear 0.2s;
        }
      }
    }
  }
  &__logo {
    text-align: center;

    grid-area: logo;

    font-size: 24px;
    font-family: NautilusPompilius;
    user-select: none;
  }
  &__input {
    justify-self: end;

    grid-area: search;

    background-color: rgba(#ffffff, 0.8);
    border-radius: 20px;
    width: 180px;
    height: 30px;

    transition-duration: 0.5s;

    @media (max-width: 767px) {
      display: none;
    }

    &:focus-within {
      box-shadow: 0px 0px 10px #54d154;
    }

    input {
      border-radius: 20px;
      font-size: 16px;
      font-family: ProximaNova;
      padding: 10px;
      width: 150px;
      height: 30px;

      color: #000000;

      background-color: rgba(#ffffff, 0);
      &::placeholder {
        color: rgba(#000000, 0.8);
      }
    }
  }

  &__burger {
  }

  &__mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    min-height: 100vh;

    background-color: #54d154;

    padding: 10px;
  }

  @media (max-width: 992px) {
    &__burger {
      width: 30px;
      display: grid;
      align-items: center;
      grid-template: repeat(3, 8px) / 1fr;
      transition-duration: 0.2s;

      &::before {
        content: " ";
        height: 2px;
        width: 30px;
        background-color: #ffffff;
      }
      div {
        height: 2px;
        width: 30px;
        background-color: #ffffff;
      }
      &::after {
        content: " ";
        height: 2px;
        width: 30px;
        background-color: #ffffff;
      }

      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
  }
}

.mobile {
  display: grid;
  grid-template-rows: 30px 1fr;
  grid-template-columns: 30px 1fr;

  grid-template-areas:
    "cross input"
    "menu menu";

  &__cross {
    grid-area: cross;
    width: 30px;
    height: 30px;
    position: relative;

    transition-duration: 0.2s;

    &:hover {
      transform: scale(1.1, 1.1);
    }

    &::before {
      content: " ";
      position: absolute;
      left: 0;
      top: 15px;
      transform: rotate(45deg);
      height: 2px;
      width: 30px;
      background-color: #ffffff;

      animation: cross-left-line 0.2s linear;
    }
    &::after {
      content: " ";
      position: absolute;
      left: 0;
      top: 15px;
      transform: rotate(-45deg);
      height: 2px;
      width: 30px;
      background-color: #ffffff;

      animation: cross-right-line 0.2s linear;
    }
  }
  &__input {
    grid-area: input;
    justify-self: end;

    background-color: rgba(#ffffff, 0.8);
    border-radius: 20px;
    overflow: hidden;
    width: 180px;
    height: 30px;

    transition-duration: 0.5s;

    &:focus-within {
      transform: scale3d(1.1, 1.1, 1.1);
    }

    input {
      font-size: 16px;
      font-family: ProximaNova;
      padding: 10px;
      width: 150px;
      height: 30px;

      background-color: rgba(#ffffff, 0);
    }
  }
  &__list {
    padding-top: 50px;
    grid-area: menu;
    justify-self: center;

    font-size: 24px;
    font-family: ProximaNova;
    font-weight: 700;

    line-height: 150%;

    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      margin-bottom: 50px;
      position: relative;
      cursor: pointer;
      user-select: none;
      transition-duration: 0.5s;

      padding-top: 4px;

      &:last-child {
        margin: 0;
      }

      &:hover {
        transform: scale3d(1.1, 1.1, 1.1);
      }
    }
  }

  @media (max-width: 992px) {
  }
}

@keyframes menu-link-head {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes mobile-menu {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

@keyframes cross-left-line {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes cross-right-line {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-45deg);
  }
}

@keyframes scroll {
  0% {
    transform: translate(0px);
  }

  50% {
    transform: translate(0px, -5px);
  }

  100% {
    transform: translate(0px, -0px);
  }
}
