@import "src/variables";

.works {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #54D154;
  padding: 40px;

  @media (max-width: 768px) {
    padding: 20px 10px;
  }

  &__title {
    margin-bottom: 10px;

    &::after {
      background-color: #207B20;
    }

    h2 {
      color: #207B20;
    }
  }

  &__subtitle {
    margin-bottom: 60px;

    h3 {
      color: #2B9B2B;
    }
  }

  &__body {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  &__selector {
    display: flex;
    width: 280px;
    height: 30px;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 50px;
  }

  &__selector-item {
    background-color: $selector-bg-color;
    flex: 1 1 auto;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-family: ProximaNova;
    color: $selector-text-color;
    border-right: 2px solid #2B9B2B;
    cursor: pointer;
    user-select: none;

    transition-duration: 0.5s;

    &:last-child {
      border-right: 0;
    }

    &:hover {
      background-color: $selector-bg-hover-color;
      color: $selector-text-hover-color;
    }

    //&:active {
    //  color: $selector-text-hover-color;
    //  background-color: $selector-bg-active-color;
    //}
  }

  &__selector-active-item {
    color: $selector-text-active-color;
    background-color: $selector-bg-active-color;
  }

  &__gallery {
    //flex: 1 1 auto;
    width: 100%;

    margin-bottom: 50px;

    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    justify-content: center;
  }

  &__item {
    position: relative;
    padding: 0px 0px 80% 0px;
    user-select: none;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__button {
    background-color: $darkgreen-button-color;
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-family: ProximaNova;
    color: #FFFFFF;
    border-radius: 25px;
    padding-left: 20px;
    line-height: 50px;
    position: relative;
    cursor: pointer;
    user-select: none;

    transition-duration: 0.5s;

    &:hover {
      background-color: $darkgreen-button-hover-color;
    }

    &:active {
      background-color: $darkgreen-button-active-color;
    }

    &:after {
      content: '';
      position: absolute;
      width: 15px;
      height: 11px;
      top: 18px;
      right: 25px;
      background: url("../../assets/images/works/button_shape.svg") center no-repeat;
    }
  }
}