
// home, what sections
$green-button-color: #54D154;
$green-button-hover-color: #51E864;
$green-button-active-color: #3FB54F;

// works section
$selector-bg-color: #FFFFFF;
$selector-bg-hover-color: #29B350;
$selector-bg-active-color: #2B9B2B;

$selector-text-color: #2B9B2B;
$selector-text-hover-color: #FFFFFF;
$selector-text-active-color: #FFFFFF;

$darkgreen-button-color: #2B9B2B;
$darkgreen-button-hover-color: #2FA82F;
$darkgreen-button-active-color: #248224;

// clients section
$grey-button-color: #DDDCDC;
$grey-button-hover-color: #F7F7F7;
$grey-button-active-color: #DEDEDE;