@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@font-face {
  font-family: 'ProximaNova';
  src: url('assets/fonts/proximanova-light.eot');
  src: local('☺'), url('assets/fonts/proximanova-light.woff') format('woff'), url('assets/fonts/proximanova-light.ttf') format('truetype'), url('assets/fonts/proximanova-light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('assets/fonts/proximanova-regular.eot');
  src: local('☺'), url('assets/fonts/proximanova-regular.woff') format('woff'), url('assets/fonts/proximanova-regular.ttf') format('truetype'), url('assets/fonts/proximanova-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('assets/fonts/proximanova-bold.eot');
  src: local('☺'), url('assets/fonts/proximanova-bold.woff') format('woff'), url('assets/fonts/proximanova-bold.ttf') format('truetype'), url('assets/fonts/proximanova-bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NautilusPompilius';
  src: url('assets/fonts/Nautilus.eot');
  src: local('☺'), url('assets/fonts/Nautilus.woff') format('woff'), url('assets/fonts/Nautilus.ttf') format('truetype'), url('assets/fonts/Nautilus.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


// nullified styles
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
// -------------------------------------------------------
